*{
    color: white;
    font-family:arial;
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    padding: 0px;
    
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
header{
    display:flex;
    justify-content:center;
    height: 100px;
    
    align-items: center;
     background-color: #4b4b4b;
}
.container {
    width:90%;
    justify-content:space-between;
    display:flex;
   
    
    
}
nav ul{
    display: flex;
}

nav a{
    display:block;
    padding:15px;
    text-decoration: none;
    color:#000;
    font-family: Arial;    
}

.logo{
    align-items: center;
    justify-content:flex-start;
    display:flex; 
}
.logo
a img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    clip-path: circle(50%);
    padding-left: 30px;
   position:static;
}
nav .active a,
nav a:hover{
    background-color:rgb(141, 155, 155);
    color:white;
}
nav li{
    list-style: none;
    margin:0px;    
    padding:0px;
    align-items:center;
}

.menuMobile{
    display:none;
    height:40px;
    width:40px;
    margin-top:40px;
    margin-bottom:40px;
    margin-right:20px;

}
.mm-line{
    height:3px;
    background-color:rgb(141, 155, 155);
}
/* primeira sessão*/

.banner {
    background-color: #4b4b4b;
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.image-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    height: 100%;
    width: 50%;
}
.image-perfil, img {
    width: 40%;
    height: 80%;
}

.about-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: large;
    height: 100%;
    width: 50%;
    
}
.about-text {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 100%;
    width: 80%;
    text-align:start;
}
/* segunda sessao*/

.banner2 {
    background-color: #4b4b4b;
    height: calc(100vh );
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.area-projeto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;

}
.projeto-1 {
    background-color: aliceblue;
    height:auto ;
    width: 23%;
    margin: 5px;
}
.projeto-1  a img {
    background-color: aliceblue;
    height:170px;
    width: 100%;
    
}
/*.projeto-1 .projeto-link:hover {
    transition: 0.5s linear;
    opacity: 0.2;
    background-color:#4b4b4b;
    position: relative;
}*/

.projeto-1  a  {
    text-decoration: none;  
}

.projeto-testo :hover {
    background-color: #4b4b4b72;
    z-index: 1;
}

.projeto-testo p{
    text-align: center;
    font-size: 17px;
    width: 23%;
    height: 30%;
    margin:0px;
    z-index: 1;
    position: absolute;
    color: transparent;
}
.projeto-testo p:hover{
    transition: 0.5s linear;
    color: white;
    z-index: 1;
  }

@media (max-width:700px){ 
    nav ul{
        display: none;
    }
    header{
        display:flex;
        height: auto;
    }
    .logo{
        padding-left:20px;
    }
    .menuMobile{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
    }
    .banner {
        background-color: #4b4b4b;
        height: calc(100vh - 104px);
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .image-perfil {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: large;
        position: fixed;
        height:calc(100vh - 100px);;
        width: 100%;
        opacity: 0.2;
    }
    .image-perfil, img {
        width: 100%;
        height: 85%;
       
    }
    
    .about-perfil {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-size: large;
        position: absolute;
        height: calc(100vh - 100px);
        width: 100%;
        text-align: center;
    }
    .about-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90%;
        width: 90%;
    }
    /* segunda sessao*/

    .area-projeto {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 100%;
    
    }
    .projeto-1 {
        background-color: aliceblue;
        height:auto ;
        width: 23%;
        margin: 5px;
    }
    .projeto-1  a img {
        background-color: aliceblue;
        height:95px;
        width: 100%;
        
    }
    .projeto-testo :hover {
        background-color: #4b4b4b72;
        z-index: 1;
    }
    
    .projeto-testo p{
        text-align: center;
        font-size: 10px;
        width: 23%;
        height: 30%;
        margin:0px;
        z-index: 1;
        position: absolute;
        color: transparent;
    }
    .projeto-testo p:hover{
        transition: 0.5s linear;
        color: white;
        z-index: 1;
      }
    .banner2 {
        background-color: #4b4b4b;
        height: calc(100vh );
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
    }
}