*{
    color:#9eafa9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    
}

@keyframes slider {
    from{left:-150%;}
    to{left: 160%;}
}

@keyframes pisca {
    0%{color:#4b4b4b;}
    50%{color:#9eafa9;}
    100%{color:#4b4b4b;}
}
@keyframes name {
    0%{width: 315px;}
    4%{width: 282px}
    8%{width: 256px}
    12%{width: 229px}
    16%{width: 200px}
    20%{width: 168px}
    24%{width: 153px}
    28%{width: 126px}
    32%{width: 98px}
    36%{width: 71px}
    40%{width: 60px}
    44%{width: 33px}
    48%{width: 0px}
    52%{width: 33px}
    56%{width: 60px}
    60%{width: 71px}
    64%{width: 98px}
    68%{width: 126px}
    72%{width: 153px}
    76%{width: 168px}
    80%{width: 200px}
    84%{width: 229px}
    88%{width: 256px}
    92%{width: 282px}
    96%{width: 315px}
    100%{width: 315px}
}

body{
    margin: 0px;
    padding: 0px;
    
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #4b4b4b;
}
header{
    display:flex;
    justify-content:center;
    height: 100px;
    align-items: center;
     background-color: #4b4b4b;
}
.container {
    width:85%;
    justify-content:space-between;
    display:flex;
}
.about-name-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    width: 100%;
    height: auto;
  
}
.about-name {
    font-size: 50px;
    width:315px; 
    flex-wrap: nowrap;
    z-index: 0;  
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.bar {
    font-size: 50px;
    margin: 0;
    z-index: 2;
    padding:-1px; 
    color:white;
    
}
.slider{
    animation: slider 9s infinite linear;
}

.name {
    animation: name 7s infinite ease-in-out;
}
.pisca {
    animation: linear pisca 0.7s infinite;
    transition: none;
}
nav ul{
    display: flex;
}
nav a{
    display:block;
    padding:15px;
    font-weight: 700;
    text-decoration: none;
    font-family: Arial;    
}

.logo{
    align-items: center;
    justify-content:flex-start;
    display:flex; 
}
.logo
a img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    clip-path: circle(50%);
    position:static;
}
nav .active a,
nav a:hover{
    background-color:#9eafa9;
    color:white;
}
nav li{
    list-style: none;
    margin:0px;    
    padding:0px;
    align-items:center;
}

.menu-mobile-line{
    display:none;
    height:40px;
    width:40px;
    margin-top:40px;
    margin-bottom:40px;
    margin-right:20px;
}
.mm-line{
    height:3px;
    background-color:rgb(141, 155, 155);
}
/* primeira sessão*/

.banner {
    background-color: #4b4b4b;
    height: calc(100vh - 100px);
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    height: 100%;
    width:50%;
}
.image-perfil  img {
    
    width: 100%;
    height: 70%;
    border-radius: 20%;
    opacity: 0.6;
    
}

.about-perfil {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size:xx-large;
    height: 100%;
    width: 60%;
    text-align: center;
    
}
.about-text {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 100%;
    width: 80%;
    text-align:start;
}
/* segunda sessao*/

.banner2 {
    background-color: #4b4b4b;
    height: calc(100vh );
    width: 85%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}
.banner3 {
    background-color: #4b4b4b;
    height: calc(100vh );
    width: 85%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    
}
.banner4 {
    background-color: #4b4b4b;
    height: calc(100vh );
    width: 85%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.area-skills {
    display: flex;
    overflow: hidden; 
    width: 100%;
    height: inherit;
    align-items: center;
    justify-content: center;
    
}
.area-skills-width{
    height: auto;
    display: flex;
    width: 180vw;
    transition: all ease 1s;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}
.skill{
    text-shadow: 0px 3px 3px #333;
    height: 100%;
    width: 300px;
    margin: 5px; 
    position:inherit;
}

/*
.area-skills .skill div svg path {
    background-color: #4b4b4b;
    height:auto;
    width: 100%;
    filter:drop-shadow(10px 7px 20px #4b4b4b);
}*/
.area-projeto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;

}

.projeto-1 {
    background-color: aliceblue;
    height:auto ;
    width: 23%;
    margin: 5px;
}
.projeto-1  a img {
    background-color: aliceblue;
    height:50%;
    width: 100%;
    
}

.projeto-1  a  {
    text-decoration: none;  
}

.projeto-testo :hover {
    background-color:  #4b4b4b72;
    position:absolute;
    z-index: 1;
}

.projeto-testo p{
    text-align: center;
    font-size: 17px;
    width: 20%;
    height: 30%;
    margin-top:-179px;
    z-index: 1;
    position: absolute;
    color: transparent;
}
.projeto-testo p:hover{
    position: absolute;
    transition: 0.5s linear;
    color: white;
    z-index: 1;
  }
  footer{
    height: calc(40vh ); 
    width:100%;
    display: flex; 
    align-items: center;
    flex-direction: column;
    background-color: #1c1c1c;
  }
  .img-git{
    color: #1c1c1c;
    background-color: white;
    border-radius: 50%;
    width: 19px;
    margin-bottom: 2px;
    padding: 0;
    
    border:white 4px solid ;
  }
  footer .footer-contact {
    display: flex;
    width: 85%;
    height: 100%;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-around;
}
  @media (max-width:900px) and (min-width:701px){

    .area-projeto {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 100%;
        padding-bottom: 10%;
    
    }
    .projeto-1 {
        background-color: aliceblue;
        height:auto ;
        width: 30%;
        margin: 5px;
    }

    .projeto-1  a img {
        background-color: aliceblue;
        height:60%;
        width: 100%;
        
    }
    .projeto-testo p{
        text-align: center;
        font-size: 100%;
        padding-top: 10px;
        width: 26%;
        height: 21%;
        margin-top: -13%;
        color: transparent;
    }
    .projeto-testo p:hover{
        
        transition: 0.5s linear;
        color: white;
        z-index: 1;
      }

    .image-perfil  img {
        
        width: 100%;
        height: 60%;
        border-radius: 20%;
        opacity: 0.6;
        
    }
    
    .about-perfil {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-size:x-large;
        height: 100%;
        width: 75%;
        
    }
    

}

@media (max-width:700px) and (min-width:200px){ 

    @keyframes name {
        0%{width: 157px;}
        4%{width: 141px}
        8%{width: 128px}
        12%{width: 115px}
        16%{width: 100px}
        20%{width: 84px}
        24%{width: 76px}
        28%{width: 63px}
        32%{width: 49px}
        36%{width: 35px}
        40%{width: 30px}
        44%{width: 16px}
        48%{width: 0px}
        52%{width: 16px}
        56%{width: 30px}
        60%{width: 35px}
        64%{width: 49px}
        68%{width: 63px}
        72%{width: 76px}
        76%{width: 84px}
        80%{width: 100px}
        84%{width: 115px}
        88%{width: 128px}
        92%{width: 141px}
        96%{width: 157px}
        100%{width: 157px}  
    }

    nav ul{
        display: none;
    }
    header{
        display:flex;
        height: auto;
        height: 100px;
    }
    .logo{
        padding-left:20px;
    }
    .menu-mobile-line{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
    }
    .menu-mobile {
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        width: 70%;
        height: 70%;
        font-size:80%;
        font-weight: 700;
        z-index: 0;
        position: inherit;
        margin-top: calc(100px );
        margin-top: 0;
        margin-bottom: 0;
        
    }
    .menu-mobile ul {
        width: 50%;
        margin-left:10%;
        background-color:#9eafa926;
        height: auto;
        color: white;
    }
    .menu-mobile ul li {
        display:block;
        padding: 7%;
        text-decoration: none;   
    }
    .menu-mobile  a{
        text-decoration: none;   
    }


    .about-name-area {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-wrap: nowrap;
        width: 50%;
        height: auto;
      
    }
    .about-name  {
        
        font-size: 24px;
        width:100%; 
        flex-wrap: nowrap;
        /*z-index: 0;*/  
        /*overflow: hidden;*/
        /*margin-left: -10%;*/
        padding: 0;
    }
    
    .bar {
        font-size: 25px;
        margin: 0;
        z-index: 2;
        padding:0;
    }
    
    .name {
        animation: name 7s infinite ease-in-out;
    }
    .pisca {
        animation:0.5s linear pisca 0.5s infinite;
        transition: none;
    }


    .banner {
        background-color: #4b4b4b;
        height: calc(100vh - 104px);
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .image-perfil {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: large;
        height:calc(100vh - 100px);;
        width: 100%;
        opacity: 0.2;
    }

    .image-perfil  img {
        width: 100%;
        height: 90%;
        border-radius: 0;
 
    }
    
    .about-perfil {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-size: large;
        position: absolute;
        height: calc(100vh - 100px);
        width: 100%;
        text-align: center;
    }
    .about-text {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        padding-left: 10px;
        height: 90%;
        width: 90%;
    }
    .about-perfil {
        font-size:large;
    }
    /* segunda sessao*/

    .area-projeto {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 100%;
        padding-bottom: 10%;
        
    }
    .projeto-1 {
        background-color: #4b4b4b;
        height:auto ;
        width: 80%;
        margin: 30px;
    }
    .projeto-1  a img {
        /*position: relative;*/
        /*background-color:#4b4b4b ;*/
        height:30%;
        width: 90%;
        /*opacity: 0.4;*/
        
    }
    .projeto-testo p:hover{
        transition: 0.5s linear;
        color: white;
      }
    
    .projeto-testo p{
        /*background-color: transparent;*/
        text-align: center;
        font-size: 80%;
        width: 70%;
        height: 70px;
        margin-top:0; 
        color: white;
        
    }
    
    .banner4 {
        background-color: #4b4b4b;
        height: calc(320vh );
        width: 90%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        
    }
    footer .footer-contact {
        position:relative;
        display: flex;
        width: 85%;
        height: 100%;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
}